.mt8{
  margin-top: 8px;
}

.mb8{
  margin-bottom: 8px;
}

.mt12{
  margin-top: 12px;
}

.mb12{
  margin-bottom: 12px;
}

.mt16{
  margin-top: 16px;
}

.mb16{
  margin-bottom: 16px;
}

.mt24{
  margin-top: 24px;
}

.mb24{
  margin-bottom: 24px;
}

.mt32{
  margin-top: 32px;
}

.mb32{
  margin-bottom: 32px;
}

.mt40{
  margin-top: 40px;
}

.mb40{
  margin-bottom: 40px;
}

.mt48{
  margin-top: 48px;
}

.mb48{
  margin-bottom: 48px;
}

.mt64{
  margin-top: 64px;
}

.mb64{
  margin-bottom: 64px;
}

.mt88{
  margin-top: 88px;
}

.mb88{
  margin-bottom: 88px;
}

.mt100{
  margin-top: 100px;
}

.mt100vh{
  margin-top: 100vh;
}

.mb100vh{
  margin-bottom: 100vh;
}

.pt16{
  padding-top: 16px;
}

.pb16{
  padding-bottom: 16px;
}

.pt24{
  padding-top: 24px;
}

.pb24{
  padding-bottom: 24px;
}

.pt32{
  padding-top: 32px;
}

.pb32{
  padding-bottom: 32px;
}

.pt40{
  padding-top: 40px;
}

.pb40{
  padding-bottom: 40px;
}

.pt48{
  padding-top: 48px;
}

.pb48{
  padding-bottom: 48px;
}

.pt64{
  padding-top: 64px;
}

.pb64{
  padding-bottom: 64px;
}

.pt88{
  padding-top: 88px;
}

.pb88{
  padding-bottom: 88px;
}