// -----------------------------------------------------------------
// transition
// -----------------------------------------------------------------
.slide-fade-enter-active, .slide-fade-leave-active{
  transition: all 2s ease;
}
.fade3-enter-active, .fade3-leave-active {
  transition: all 3s ease;
}
.fade05-enter-active, .fade05-leave-active {
  transition: all .5s ease;
}
.fade05-enter, .fade05-leave-to, .fade3-enter, .fade3-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-fade-enter, .slide-fade-leave-to{
  transform: translate(0,10px);
  opacity: 0;
}

.fadein-box{
  &__outer{
    min-height: 95px;
    height: 100%;
  }
  &__inner{
    height: 100%;
  }
}

.fadein-enter-active, .fadein-leave-active {
  transition: all .5s ease;
}
.fadein-enter, .fadein-leave-to {
  opacity: 0;
}

.fade02-enter-active, .fade02-leave-active {
  transition: opacity .2s;
}
.fade02-enter, .fade02-leave-to{
  opacity: 0;
}

.loadin-enter-active, .loadin-leave-active {
  transition: opacity .2s;
}
.loadin-enter, .loadin-leave-to{
  opacity: 0;
}
