// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------
.c-loading {
  width: 100vw;
  height: 100%;
  z-index: 1000;
  position: absolute;
  background-color: $bg;
}

.c-toggle {
  cursor: pointer;
  position: relative;
}

.c-toggle__bar {
  position: absolute;
  left: 25%;
  top: 50%;
  display: block;
  width: pxvwSP(16px);
  height: pxvwSP(2px);
  background: $text;
}

.c-toggle__bar.-nav {
  background: $white;
}

.c-toggle__bar.-bar01 {
  transform: translate3d(0, pxvwSP(-5px), 0);
}

.c-toggle__bar.-bar02 {
  transform: translate3d(0, 0, 0);
}

.c-toggle__bar.-bar03 {
  transform: translate3d(0, pxvwSP(5px), 0);
}

.c-title-jp {
  display: block;
  text-align: left;
  font-size: pxvwSP(19px);
  line-height: 1.6;
  font-family: dnp-shuei-mgothic-std, sans-serif;
  font-weight: 600;
  margin-bottom: .6em;
  font-feature-settings: "palt";
  letter-spacing: .05em;

  @include mq() {
    display: inline-block;
    margin-bottom: .8em;
    line-height: 1.4;
    font-size: rem(38);
  }
}

.c-body {
  text-align: left;
  font-size: rem(14);
  font-feature-settings: "palt";
  letter-spacing: .05em;
  text-align: justify;
  line-height: 1.9;

  @include mq() {
    font-size: pxvwSP(16px);
  }

  &.-attention {
    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
      -1px 1px 0 #FFF, 1px -1px 0 #FFF,
      0px 1px 0 #FFF, 0-1px 0 #FFF,
      -1px 0 0 #FFF, 1px 0 0 #FFF;
    color: $link;
    font-weight: 600;
  }
}

.c-submit {
  appearance: none;
}

.c-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
}

select.c-select::-ms-expand {
  display: none;
}

.c-body+.c-body {
  margin-top: 1.2em;
}

.c-title-top-en {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  font-size: rem(27);
  line-height: 1.4;
  margin-bottom: .1em;
  text-align: center;
  font-family: $en-font;

  @include mq(tb2) {
    font-size: rem(9);
  }

  @media screen and (min-width:1280px) {
    font-size: 28px;
  }

}

.c-title-top-jp {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  font-size: rem(12);
  text-align: center;
  line-height: 1.2;
  font-weight: 600;


  @include mq(tb2) {
    font-size: rem(4);
  }

  @media screen and (min-width:1280px) {
    font-size: 12px;
  }


  // @include mq() {
  //   font-size: 28px;
  // }
}

.c-title-sub {
  padding-right: $side-margin-slim;
  width: 100%;
  margin-top: pxvwSP(-12px);
  margin-bottom: pxvwSP(32px);

  @include mq() {
    padding-right: $side-margin-pc;
    margin-top: pxvwSP(-40px);
    margin-bottom: pxvwSP(80px);
  }
}

.c-title-sub-en {
  display: block;
  margin-bottom: pxvwSP(10px);
  margin-left: auto;
}

.c-title-sub-jp {
  font-size: rem(12);
  text-align: right;
  line-height: 1.2;
  font-family: dnp-shuei-mgothic-std, sans-serif;
  font-weight: 600;

  @include mq() {
    font-size: 28px;
  }
}

input[type="submit"].c-submit {
  display: inline-block;
  vertical-align: middle;
  margin: 0 pxvwSP(10px);
  font-size: rem(13);
  padding: .5em 1.5em;
  border-radius: 100px;
  color: $white;
  letter-spacing: 0.5pt;
  text-decoration: none;
  background-color: $point;
  border: pxvwSP(1px) solid $point;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;


  @include mq(tb2) {
    display: block;
    padding: pxvwSP(1px) pxvwSP(5px);
    margin: 0 pxvwSP(4px);
    font-size: rem(3.5);
  }

  @media screen and (min-width:1280px) {
    padding: 7px 24px;
    margin: 0 14px;
    font-size: 11px;
    border: none;
  }


}


.c-button {
  position: relative;
  display: inline-block;
  padding: 0.2rem;
  font-size: rem(13);
  line-height: 1.4;
  font-weight: 500;
  border-radius: pxvwSP(50px);
  text-decoration: none;
  transition: .15s all;
  text-align: center;
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
  background-color: #373737;
  color: #fff;
  transition: background-color 0.3s;

  @include mq(tb2) {
    display: block;
    max-width: pxvwPC(240px);
    font-size: rem(4);
  }

  &.-product {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: pxvwSP(30px);

    @include mq(tb2) {
      width: pxvwPC(200px);
      margin-top: pxvwPC(30px);
    }
  }

  &.-set {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  &.-recommend {
    display: flex;
    justify-content: space-between;
    width: 59%;
    margin: 0 auto;

    @include mq(tb2) {
      width: 78%;
      margin: 0;
    }
  }

  &.-gift-set {
    display: flex;
    justify-content: space-between;
    max-width: pxvwSP(185px);
    width: 100%;
    margin: 0 auto;

    @include mq(tb2) {
      max-width: pxvwPC(185px);
    }
  }
}

.c-button:hover {
  background-color: #FDF1D8;
  color: #333;
}

.c-button2 {
  color: #333;
  display: flex;
  align-items: center;

  &.min {
    font-size: rem(12);
    margin-top: pxvwSP(16px);

    @include mq(tb2) {
      margin-top: pxvwPC(16px);
    }
  }

  &.pro-nav.last {
    @include mq(tb2) {
      position: relative;
      margin-top: pxvwPC(80px)
    }
  }

  &.pro-nav p {
    @include mq(tb2) {
      position: relative;
      font-size: rem(14);
      padding-bottom: pxvwPC(10px);
      border-bottom: 1px solid #D7D7D7;
    }
  }

  @include mq(tb2) {}
}

.c-button2:hover .c-button__img.open {
  display: none;
}

.c-button2:hover .c-button__img.close {
  display: block;
}


.c-button3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #333;
  padding: pxvwSP(14px) pxvwSP(44px);
  border: pxvwSP(1px) solid #D7D7D7;
  border-radius: pxvwSP(100px);

  @include mq(tb2) {
    padding: pxvwPC(14px) pxvwPC(44px);
    border: pxvwPC(1px) solid #D7D7D7;
    border-radius: pxvwPC(100px);
  }
}

.c-button4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #D10307;
  color: #fff;
  border-radius: pxvwSP(40px);
  ;

  &.-single-product {
    padding: pxvwSP(23px) 0;

    @include mq(tb2) {
      padding: pxvwPC(23px) 0;
    }
  }

  &.-cart {
    padding: pxvwSP(27px) 0;
    margin-top: pxvwSP(40px);

    @include mq(tb2) {
      max-width: pxvwPC(370px);
      padding: pxvwPC(27px) 0;
      margin: pxvwPC(40px) auto 0;
    }
  }
}

.c-button__txt {
  display: flex;
  align-items: center;
  padding-right: pxvwSP(20px);
  padding-left: pxvwSP(26px);

  @include mq(tb2) {
    padding-right: pxvwPC(20px);
    padding-left: pxvwPC(26px);
  }
}

.c-button__img {
  width: pxvwSP(36px);
  height: pxvwSP(36px);
  margin-right: pxvwSP(10px);
  transition: all 0.3s;

  @include mq(tb2) {
    width: pxvwPC(36px);
    height: pxvwPC(36px);
    margin-right: pxvwPC(10px);
  }

  &.close {
    display: none;
  }

  &.-left {
    width: pxvwSP(10px);
    height: pxvwSP(10px);
    margin-right: pxvwSP(10px);

    @include mq(tb2) {
      width: pxvwPC(10px);
      height: pxvwPC(10px);
      margin-right: pxvwPC(10px);
    }
  }

  &.-right {
    width: pxvwSP(10px);
    height: pxvwSP(10px);
    margin-left: pxvwSP(10px);
    transform: rotate(180deg);

    @include mq(tb2) {
      width: pxvwPC(10px);
      height: pxvwPC(10px);
      margin-left: pxvwPC(10px);
    }
  }

  &.min {
    width: pxvwSP(20px);
    height: pxvwSP(20px);
    margin-right: pxvwSP(10px);

    @include mq(tb2) {
      width: pxvwPC(20px);
      height: pxvwPC(20px);
      margin-right: pxvwPC(10px);
    }
  }
}



.c-sub-ttl {
  color: #D10307;
  font-family: 'Shippori Mincho', serif;
}

.c-font-fm {
  font-family: 'Shippori Mincho', serif;
}

.c-red {
  color: #D10307;
}

.c-circle {
  border: pxvwSP(1px) solid rgba(209, 3, 7, 0.4);
  border-radius: 100%;

  @include mq() {
    border: pxvwPC(1px) solid rgba(209, 3, 7, 0.4);
  }
}

.c-pagination-icon.-next {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.c-pagination-icon.-prev {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

.page-numbers__link {
  color: #474747;
  display: block;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &.next {
    width: pxvwSP(10px);
    height: pxvwSP(10px);
    margin-left: pxvwSP(16px);
    transform: rotate(180deg);

    @include mq(tb2) {
      width: pxvwPC(10px);
      height: pxvwPC(10px);
      margin-left: pxvwPC(16px);
    }
  }

  &.prev {
    width: pxvwSP(10px);
    height: pxvwSP(10px);
    margin-right: pxvwSP(16px);

    @include mq(tb2) {
      width: pxvwPC(10px);
      height: pxvwPC(10px);
      margin-right: pxvwPC(16px);
    }
  }
}


.page-numbers__list {
  width: pxvwSP(32px);
  height: pxvwSP(32px);
  list-style: none;
  margin-right: pxvwSP(2px);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(tb2) {
    width: pxvwPC(32px);
    height: pxvwPC(32px);
    margin-right: pxvwPC(2px);
  }
}

.page-numbers__list:hover {
  border: 1px solid #D10307;
  background-color: #D10307;
  border-radius: 100%;
}

.page-numbers__list:hover .page-numbers__link {
  color: #fff;
}

.c-space {
  padding: pxvwSP(8px);

  @include mq(tb2) {
    padding: pxvwPC(8px);
  }
}

.c-dec {
  font-size: rem(14);
  line-height: 2;

  @include mq(tb2) {
    font-size: rem(16);
  }
}


.c-f18 {
  font-size: rem(18);

  @include mq(tb2) {
    font-size: rem(18);
  }

}


.c-f14 {
  font-size: rem(14);

  @include mq(tb2) {
    font-size: rem(14);
  }
}