// -----------------------------------------------------------------
// plugin
// -----------------------------------------------------------------
.swiper-pagination-bullet {
  background-color: #C0C0C0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #D10307 !important;
}


// kv swiper-----------------------------------------------------------------
.kv.swiper-wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 100%;
}

.kv.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
}


.swiper-kv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-kv .swiper-pagination-bullet {
  width: pxvwSP(5px) !important;
  height: pxvwSP(5px) !important;
  border-radius: 100% !important;
  margin-right: pxvwSP(10px) !important;

  @include mq (tb2) {
    width: pxvwPC(5px) !important;
    height: pxvwPC(5px) !important;
  }
}

.swiper-kv .swiper-pagination-bullet-active {
  width: pxvwSP(10px) !important;
  height: pxvwSP(10px) !important;

  @include mq (tb2) {
    width: pxvwPC(10px) !important;
    height: pxvwPC(10px) !important;
  }
}

.swiper-kv.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: pxvwSP(170px) !important;
  bottom: pxvwSP(124px) !important;

  @include mq (tb2) {
    display: none;
  }
}

.kv .swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */

  &::before {
    content: "";
    display: block;
    padding-top: 110%;

    @include mq (tb2) {
      padding-top: pxvwPC(770px);
    }

  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// kv swiper-----------------------------------------------------------------


// infinite-swiper-----------------------------------------------------------------

/* コンテナー */
.swiper-container {
  position: relative !important;

  @include mq (tb2) {}
}

/* スライダーのwrapper */
.infinite-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
  width: pxvwSP(218px) !important;
  height: pxvwSP(160px) !important;

  @include mq (tb2) {
    width: pxvwPC(400px) !important;
    height: pxvwPC(300px) !important;
  }
}

.infinite-swiper .swiper-wrapper .swiper-slide {}


/* スライド内の画像 */
.infinite-swiper .swiper-slide img {
  width: 100% !important;
  height: auto !important;
}

// infinite-swiper-----------------------------------------------------------------


// recommend-swiper-----------------------------------------------------------------

.swiper-recommend.swiper {
  width: 100%;

  @include mq (tb2) {
    padding-left: pxvwPC(113px);
  }
}


.swiper-recommend .swiper-slide::before {
  padding-top: 85%;
}


.swiper-recommend.swiper-slide img {
  top: 4%;
  left: 50%;
  transform: translate(-50%, 0);
}

.swiper-recommend-pagination .swiper-pagination-bullet {
  margin: 0 auto !important;
}

.swiper-recommend-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 0 !important;
  bottom: pxvwSP(-40px) !important;

  @include mq (tb2) {
    left: pxvwPC(-200px) !important;
    bottom: pxvwPC(-70px) !important;
  }
}


.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: pxvwSP(125px);
  height: pxvwSP(4px);
  cursor: pointer;
  border-radius: 0;

  @include mq (tb2) {
    width: pxvwPC(400px);
    height: pxvwPC(4px);
  }
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev.-recommend,
.swiper-button-next.-recommend {
  height: pxvwSP(40px) !important;
  width: pxvwSP(40px) !important;

  @include mq (tb2) {
    height: pxvwPC(40px) !important;
    width: pxvwPC(40px) !important;
  }
}

.swiper-button-prev.-recommend {
  top: 12% !important;
  right: 19% !important;
  left: auto !important;
  transform: rotate(180deg);

  @include mq (tb2) {
    top: 12% !important;
    right: 18% !important;
  }
}

.swiper-button-next.-recommend {
  top: 12% !important;
  right: 6% !important;

  @include mq (tb2) {
    top: 12% !important;
    right: 14% !important;
  }
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  content: "" !important;
  height: pxvwSP(40px) !important;
  width: pxvwSP(40px) !important;
  margin: auto !important;
}

.swiper-button-next:after {
  background-image: url(../img/btn-arrow_white.png) !important;
}

.swiper-button-prev:after {
  background-image: url(../img/btn-arrow_white.png) !important;
}



// recommend-swiper-----------------------------------------------------------------


// about-swiper-----------------------------------------------------------------
.about-swiper__box {
  position: relative;
  padding-top: pxvwSP(100px);

  @include mq (tb2) {
    padding-top: pxvwPC(100px);
  }
}

.swiper-about.swiper {
  padding-left: pxvwSP($side-margin-wide);
  width: 100%;

  @include mq (tb2) {
    padding-left: pxvwPC(140px);
  }
}


.p-about__list__img {
  width: 100%;
}



.swiper-about-pagination .swiper-pagination-bullet {
  margin: 0 auto !important;
}

.swiper-about-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 0 !important;
  bottom: pxvwSP(-40px) !important;

  @include mq (tb2) {
    left: pxvwPC(-180px) !important;
    bottom: pxvwPC(-70px) !important;
  }
}


.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: pxvwSP(125px);
  height: pxvwSP(4px);
  cursor: pointer;
  border-radius: 0;

  @include mq (tb2) {
    width: pxvwPC(400px);
    height: pxvwPC(4px);
  }
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: pxvwSP(40px) !important;
  width: pxvwSP(40px) !important;

  @include mq (tb2) {
    height: pxvwPC(40px) !important;
    width: pxvwPC(40px) !important;
  }
}

.swiper-button-prev {
  top: 22% !important;
  right: 19% !important;
  left: auto !important;
  transform: rotate(180deg);

  @include mq (tb2) {
    top: 12% !important;
    right: 12% !important;
  }
}

.swiper-button-next {
  top: 22% !important;
  right: 6% !important;

  @include mq (tb2) {
    top: 12% !important;
    right: 8% !important;
  }
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  content: "" !important;
  height: pxvwSP(40px) !important;
  width: pxvwSP(40px) !important;
  margin: auto !important;
}

.swiper-button-next:after {
  background-image: url(../img/btn-arrow_white.png) !important;
}

.swiper-button-prev:after {
  background-image: url(../img/btn-arrow_white.png) !important;
}



// about-swiper-----------------------------------------------------------------

.c-mySwiper2,
.c-mySwiper2-copy {
  // height: calc(100vw - pxvwSP($side-margin-slim) * 2)!important;
  width: 100%;
  margin-bottom: pxvwSP(16px);

  @include mq (tb2) {
    margin-bottom: 20px;
  }
}

.c-mySwiper,
.c-mySwiper-copy {
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.c-mySwiper .c-swiper-slide,
.c-mySwiper-copy .c-swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  line-height: 80px;
}

.c-mySwiper .swiper-slide-thumb-active,
.c-mySwiper-copy .swiper-slide-thumb-active {
  opacity: 1;
}

.c-swiper-button-prev,
.c-swiper-button-next {
  display: none !important;
}



.c-breadcrumbs {
  max-width: pxvwPC(1200px);
  margin: 0 auto;
  padding-left: pxvwSP($side-margin-slim);
  padding-right: pxvwSP($side-margin-slim);
  font-weight: 700;
  padding-top: .5em;
  padding-bottom: .5em;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mq(tb2) {
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: pxvwSP(10px);
    padding-right: pxvwSP(10px);
  }

  @media screen and (min-width:1280px) {
    padding: 12px 34px;
  }

  span[property="itemListElement"] {
    position: relative;
    color: $point;
    font-size: pxvwSP(10px);

    @include mq(tb2) {}

    &::after {
      content: '';
      display: inline-block;
      @include svg-icon-arrow("CC818A");
      background-size: .6em .8em;
      background-repeat: no-repeat;
      background-position: center center;
      transform: translate(0, 10%);
      width: 2em;
      height: 1em;
    }
  }

  span[property="itemListElement"]:last-child::after {
    display: none;
  }

  a {
    text-decoration: none;
    color: $point;
  }
}

.c-breadcrumbs__box {
  background-color: $point_light;

  @include mq(tb2) {}
}

#toc_container {
  margin-bottom: pxvwSP(32px);
  border: none !important;
  background-color: $bg_point !important;
  padding: pxvwSP(16px) pxvwSP(20px);
  width: 100% !important;

  @include mq(tb2) {
    margin-bottom: 30px !important;
    padding: 20px !important;
  }

  li {
    line-height: 1.8;
  }

  li+li {
    margin-top: .6em !important;
  }
}

.toc_title {
  color: $point !important;
  text-align: left !important;
  font-size: pxvwSP(16px);

  @include mq(tb2) {
    font-size: 24px;
  }
}

.toc_list {
  margin-top: .5em !important;
}







#product-70 {
  padding-left: pxvwSP($side-margin-wide);
  padding-right: pxvwSP($side-margin-wide);

  @include mq(tb2) {
    max-width: pxvwPC(1000px);
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.woocommerce-product-gallery {
  @include mq(tb2) {
    max-width: pxvwPC(540px);
    width: 100%;
    margin: 0 auto;
  }
}

.entry-summary {
  @include mq(tb2) {
    max-width: pxvwPC(400px);
    width: 100%;
    margin: 0 auto;
  }
}

.entry-title {
  font-size: rem(36);
  padding-bottom: pxvwSP(28px);

  @include mq(tb2) {
    font-size: rem(48);
    padding-bottom: pxvwPC(28px);
  }
}

.summary .price {
  font-size: rem(24) !important;
  margin: 0 !important;

  @include mq(tb2) {
    font-size: rem(30) !important;
  }
}

.woocommerce-product-details__short-description p {
  line-height: 1.8;
  font-size: rem(13);
  margin: pxvwSP(28px) 0 pxvwSP(40px);

  @include mq(tb2) {
    font-size: rem(14);
    margin: pxvwPC(34px) 0;
  }
}

tbody .value select {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  max-width: 100% !important;
  width: 100%;
  background-color: #fff;
  border-radius: pxvwSP(10px) !important;
  margin-top: pxvwSP(16px) !important;
  border: none !important;

  @include mq(tb2) {
    border-radius: pxvwPC(10px) !important;
    margin-top: pxvwPC(16px) !important;
  }
}

.value select:first-child {
  @include mq(tb2) {
    padding: pxvwPC(20px) pxvwPC(10px);
  }
}

.variations {
  color: #333;
}