// -----------------------------------------------------------------
// State
// -----------------------------------------------------------------
.is-opacity0{
    opacity: 0;
}

.is-opacity1{
    opacity: 1;
}

.is-display-block{
    display: block;
}

.is-display-inline-block{
    display: inline-block;
}

.is-flex{
    display: flex;
}

.is-display-none{
    display: none;
}

.is-relative{
    position: relative;
}

.is-absolute{
    position: absolute;
}

.is-fixed{
    position: fixed;
}


.is-zidx-30{
    z-index: -30;
}

.is-zidx-20{
    z-index: -20;
}

.is-zidx-10{
    z-index: -10;
}

.is-zidx10{
    z-index: 10;
}

.is-zidx20{
    z-index: 20;
}

.is-zidx30{
    z-index: 30;
}

.is-zidx50{
    z-index: 50;
}
